<div class="backdrop-team is-hidden" data-backdrop>
  <div class="modal-team">
    <button type="button" class="modal-close" data-close-modal>
      <svg class="close-button" width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h1 class="team-title title">GOOD <span>GAME</span></h1>
    <ul class="team-list list">
      <li class="team-item">
        <img src="./images/photo1.jpg" alt="" class="person-image" />
        <div class="team-unit">
          <h3 class="person-name">Беспята Галина</h3>
          <p class="person-position">Team Lead</p>
          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://github.com/GalinaBespiata"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" target="_blank" href="BespiataGalina"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=false&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAC2lk-sBIEB-2i3IiykwiV0ND4vYv1PbzoQ&keywords=galyna%20bespiata&origin=RICH_QUERY_SUGGESTION&position=6&searchId=293f642d-39da-4a9b-8e96-6303c9e248c3&sid=8XL"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="mailto:gbespiata@gmail.com"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-gmail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img src="./images/photo2.jpg" alt="" class="person-image" />
        <div class="team-unit">
          <h3 class="person-name">Салацька Марина</h3>
          <p class="person-position">Scrum Master</p>
          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://github.com/MarynaSalatska"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://t.me/Maryna_Salatska"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://www.linkedin.com/in/maryna-salatska-11652a194"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="mailto:yasinskamarina@gmail.com"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-gmail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img src="./images/photo3.jpg" alt="" class="person-image" />
        <div class="team-unit">
          <h3 class="person-name">Майстренко Олена</h3>
          <p class="person-position">Developer</p>
          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://github.com/LenaMaistrenko"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" target="_blank" href="https://t.me/"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" target="_blank" href="#"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="mailto:istlauder@gmail.com"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-gmail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img src="./images/photo4.jpg" alt="" class="person-image" />
        <div class="team-unit">
          <h3 class="person-name">Левенець Наталія</h3>
          <p class="person-position">Developer</p>
          <ul class="social-list">
            <li class="socail-item">
              <a
                class="social-link"
                target="_blank"
                href="https://github.com/patelux"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://t.me/NataLevenets"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://www.linkedin.com/in/natalia-levenets-2a157693"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="mailto:levenets.lot@gmail.com"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-gmail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img src="./images/photo5.jpg" alt="" class="person-image" />
        <div class="team-unit">
          <h3 class="person-name">Малій Ірина</h3>
          <p class="person-position">Developer</p>
          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://github.com/irynam23"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link" target="_blank" href="https://t.me/i_m23"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://www.linkedin.com/in/iryna-malii-32406523a"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="mailto:irinamaliy23@gmail.com"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-gmail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img src="./images/photo1.jpg" alt="" class="person-image" />
        <div class="team-unit">
          <h3 class="person-name">Борисенко Вікторія</h3>
          <p class="person-position">Developer</p>
          <ul class="social-list">
            <li class="socail-item">
              <a
                class="social-link"
                target="_blank"
                href="https://github.com/Viktoriia38/"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://t.me/bviktoriaa"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="https://www.linkedin.com/in/%D0%B2%D1%96%D0%BA%D1%82%D0%BE%D1%80%D1%96%D1%8F-%D0%B1%D0%BE%D1%80%D0%B8%D1%81%D0%B5%D0%BD%D0%BA%D0%BE-34077912b/"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                target="_blank"
                href="mailto:viktoria.a.borisenko@gmail.com"
                ><svg class="social-icon" width="20" height="20">
                  <use href="./images/symbol-defs.svg#icon-gmail"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
