.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.no-scroll {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: opacity 250ms linear 0ms, visibility 250ms linear 0ms;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear 500ms, visibility 500ms linear 500ms;
}

.backdrop__modal-film {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(1) rotate(360deg);
  transition: transform 500ms linear 500ms;
}

.backdrop__modal-film.is-hidden .modal-film-card {
  @media screen and (min-width: 320px) {
    transform: scale(0);
    transition: transform 500ms linear 0ms;
  }
}

.modal-film__card {
  position: relative;
  min-width: 280px;
  height: 96vh;
  padding: 48px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  transform: scale(0);
  transition: transform 500ms linear 0ms;
  overflow: auto;
  width: 100%;

  @media screen and (min-width: 320px) {
    max-width: 550px;
    top: 50%;
    left: 50%;
    height: 96vh;
    transform: translate(-50%, -50%) scale(1);
  }
  @media screen and (min-width: 400px) {
    //@include mobile {
    padding: 40px 36px 40px 36px;
  }

  @include tablet {
    max-width: 704px;
    min-height: 552px;
    padding: 40px 36px 40px 36px;
  }
  @include desktop {
    max-width: 806px;
    min-height: 558px;
    height: 100%;
    padding: 40px 12px;
  }
}
.modal-film__info {
  width: 100%;
  //     display: flex;
  //   align-items: center;
  // justify-content: center;
}

.film-card {
  display: block;
  @include tablet {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  @include desktop {
    display: flex;
    justify-content: center;
    gap: 16px;
    gap: 16px;
  }
}
.film-card__overview-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin: 20px 0;
}

.modal-film__bnt-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 250ms
    linear-gradient(to right, transparent 0% 50%, #ff6b01 50% 100%);

  &:hover,
  &:focus {
    fill: #ff6b01;
  }
}
.modal-film__buttons-block {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.modal-film__btn-watched,
.modal-film__btn-queue {
  padding: 0;
  width: 130px;
  height: 44px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: #ff6b02;
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
    border-style: none;
  }
  @include tablet {
    width: 125px;
  }

  @include desktop {
    width: 136px;
  }
}
.modal-film__btn-watched {
  padding: 0;
  width: 130px;
  height: 44px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: black;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: #ff6b02;
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
    border-style: none;
    color: white;
  }
  @include tablet {
    padding: 13px 9px;
  }
  @include desktop {
    padding: 13px 10px;
  }
}
.modal-film__btn-queue {
  padding: 0;
  width: 130px;
  height: 44px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: black;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: #ff6b02;
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
    border-style: none;
    color: white;
  }
  @include tablet {
    padding: 13px 7px;
  }

  @include desktop {
    padding: 13px 8px;
  }
}

// .film-card__picture {
//   width: 200px;
// }

.film-card__picture-container {
  margin: 0 auto;
  min-width: 240px;
  min-height: 360px;
  overflow: hidden;
  border-radius: 5px;
}
.film-card__picture {
  object-fit: contain;
  margin: 0 auto 20px;
}
.film-card__title {
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.film-card__general-info {
  margin-bottom: 20px;
}
.film-card__info-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.film-card__info-el {
  display: flex;
}
.film-card__info-item {
  width: 40%;
  line-height: calc(16 / 12);

  color: #8c8c8c;
  @media screen and (min-width: 450px) {
    width: 30%;
  }
}
.film-card__info-item--value {
  width: 60%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  line-height: calc(14 / 12);
  color: #000000;
  @media screen and (min-width: 450px) {
    width: 70%;
  }
}

.film-card__overview-about {
  margin-top: 20px;
  margin-bottom: 8px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  color: #000000;
}
.film-card__overview {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);
  color: #000000;
}
.info-item__highlight-orange {
  padding: 1px 9px;
  background-color: #ff6b01;
  border-radius: 5px;
  color: #ffffff;
}
.info-item__highlight-grey {
  padding: 1px 4px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.modal-filmoteka__title {
  margin-bottom: 15px;
}

.trailer__video {
  width: 100%;
  margin: auto;
  max-width: 350px;
  height: 222px;
  @include tablet {
    min-width: 598px;
    height: 332px;
  }

  @include desktop {
    min-width: 640px;
    height: 356px;
  }
}
